.button-wrapper {
  #updateBtn {
    width: 100%;

    i {
      margin-right: .5rem;
    }
  }
}

.button-wrapper,
.select-wrapper {
  margin: .5rem 0;
}

.popper {
  >b {
    border-bottom: 1px dotted $primary;
  }

  &:hover,
  &:focus {
    &+.popup {
      display: block;
      position: absolute;
      background-color: $dark;
      border: 1px solid #707070;
      z-index: 1;
      padding: 6px 8px 8px;
      border-radius: 4px;
      width: 100%;
    }
  }
  &+.popup {
    display: none;
    margin-right: 20px;
  }
}

.nav.nav-tabs {
  border: none;
  .nav-link {
    border-color: #707070;
    background-color: $dark;
    color:$lightest;
    &.active {
      background-color: $darker;
      border-bottom: 0;
    }
  }
}

.tab-content {
  padding: .5rem;
  background-color: $darker;
  border: 1px solid #707070;
}

ul.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem .25rem;
  padding: 0;
  margin: .25rem 0 .25rem;

  li {
    background-color: $darker;
    font-size: .875rem;
    list-style: none;
    padding: .125rem .3rem;
    border: 1px solid $light;
  }
}

.settlement-statistics {
  #short-qualities,
  .spells-and-commerce,
  .magic-items {
    padding: 0;
    li {list-style: none;}
  }
}

.card {
  border-radius: 0;
  background-color: $dark;
  border: 1px solid $light;
  box-shadow: 0px 15px -5px rgba(0,0,0,0.5);
  position: relative;
  margin-bottom: .5rem;

  .controls {
    a {
      color: $lightest;

      &:hover,
      &:active,
      &:focus {
        color: $primary;
      }
    }

    a.quality-control {
      cursor: pointer;
      i {
        pointer-events: none;
      }
    }
  }

  details {
    width: 100%;

    p:first-of-type {
      margin-top: 1rem;
    }

    &:not([open]) {
      &:hover,
      &:active,
      &:focus {
        summary {
          >span {
            color: $primary;
          }
        }
      }
    }
  }

  &.compact {
    .card-body {
      display: flex;
      justify-content: space-between;
      padding: .25rem .875rem .3rem;

      .controls {
        display: flex;
        gap: .2rem .5rem;
      }
    }

    &.empty {
      border-style: dashed;
    }

    ul.tag-list {
      padding: 0;
      margin: .5rem 0 0;

      li {
        padding: .125rem .3rem;
      }
    }
  }

  &.default {
    .card-header {
      display: flex;
      justify-content: space-between;
    }
  }
}

.wiki-template {
  position: relative;

  textarea {
    scrollbar-gutter: 0;
  }

  .clipboard.icon {
    position: absolute;
    top: 0.3rem;
    right: 1.5rem;
    color: $darkest;

    &:hover,
    &:active,
    &:focus {
      color: $primary;
    }
  }
}
