.nav.nav-tabs {
  border: none;
  column-gap: .25rem;

  overflow-x: scroll;
  overflow-y: hidden;

  flex-wrap: nowrap;
  scrollbar-width: none;

  .nav-link {
    border-color: #707070;
    background-color: $dark;
    color:$lightest;
    &.active {
      background-color: $darker;
      border-bottom: 0;
    }
  }
}

.tab-content {
  padding: .25rem;
  background-color: $darker;
  border: 1px solid #707070;

  #available-governments,
  #available-qualities,
  #available-disadvantages {
    &.row {
      margin: 0;
      >.col {
        padding: .25rem;
      }
    }
  }

}

.wiki-template {
  position: relative;

  textarea {
    scrollbar-gutter: 0;
  }

  .clipboard.icon {
    position: absolute;
    top: 0.3rem;
    right: 1.5rem;
    color: $darkest;

    &:hover,
    &:active,
    &:focus {
      color: $primary;
    }
  }
}
